
body {
    text-align: center;
    background-color: #f3f3f3; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 350px;
    margin-right: 350px;
    padding: 0;
}
.content {
    box-sizing: border-box;  
    width: 700px;
    height: 700px;
    padding: 50px;  
    border: 2px solid rgb(0, 0, 0);
}

p {
    text-align: left;
}

li{
    text-align: left;
}

h2 {
    color: #006EB6;
    font-size: 18px;
}
.logo{
    width: 150px;
}

/*part2*/

.dark{
    background-color: #333; 
    color: white;
}

.dark h2{
    color: #A0D4ED;
}