body{
    font-family: "Roboto", sans-serif;
    background-color:beige;   
    margin: 0%; 
}

header{
    text-align: center;
}

header, footer {
    max-width: 640px;
    margin: 0;
    border: 1px solid #000;
    padding: 1rem;
    background-color: #483D8B;
    
}

h1 {
    color: #fff;
    text-align: center;
}

img {
    max-width: 100%;
    width: 250px; /* the width is 250px */
    height: 250px; /* the height is 250px  in order to be square*/
    object-fit: cover; /* Ensure the image is cropped and not distorted */
    border: 10px solid #fff;
    box-shadow: 5px 5px 10px;
}

main{
    text-align: center;
    
}

/* ///////////////////// General styles for the navigation */

  
 
  .menu-button {
    background: none; /* Remove background color */
    border: none; /* Remove border */
    color: #fff; /* Inherit the text color */
    font: inherit; /* Use the same font as the rest of the page */
    cursor: pointer; /* Make it clear it's clickable */
    padding: 0 ; /* Remove default padding */
    margin: 0; /* Remove default margin */
    text-size-adjust: 150%;

  }
  
  /* Optional: Add hover effect */
  .menu-button:hover {
    text-decoration: underline; /* Indicate interactivity */
  }
  
  /* Styles for the navigation links */
  .nav-links {
    list-style: none;
    text-align: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff; /* Adjust as needed */
    text-decoration: underline;
  }
  
  .nav-links li a:hover {
    color: #007BFF; /* Add a hover color */
  }